
@{
    ViewBag.Title = "Index";
}

<h2>Home - Acme Spook Shop</h2>

@*<a href="~/Product/Index">Products</a>
<br />
<a href="~/Shopping/Index/fx">Special Effects</a>
<br />
<a href="~/Shopping/Index/props">Props</a>
<br />
<a href="~/Shopping/Index/costumes">Costumes</a>
<br />
<a href="~/Shopping/Index/masks">Masks</a>*@