
@{
    ViewBag.Title = "Index";
}

<h2>Home - Acme Spook Shop</h2>

@*<a href="~/Product/Index">Products</a>
<br />
<a href="~/Shopping/Index/fx">Special Effects</a>
<br />
<a href="~/Shopping/Index/props">Props</a>
<br />
<a href="~/Shopping/Index/costumes">Costumes</a>
<br />
<a href="~/Shopping/Index/masks">Masks</a>*@
<div class="row">
    <div class="col-md-3 center">
        <a href="~/Shopping/Index/costumes"><img src="~/Content/Images/icons/costume.png" class="img-index" @*style="max-height: 200px; max-width: 200px;"*@ /></a>
    </div>
    <div class="col-md-3 center">
        <a href="~/Shopping/Index/masks"><img src="~/Content/Images/icons/mask.png" class="img-index" @*style="max-height: 200px; max-width: 200px;"*@ /></a>
    </div>
    <div class="col-md-3 center">
        <a href="~/Shopping/Index/props"><img src="~/Content/Images/icons/bats.png" class="img-index" @*style="max-height: 200px; max-width: 200px;"*@ /></a>
    </div>
    <div class="col-md-3 center">
        <a href="~/Shopping/Index/fx"><img src="~/Content/Images/icons/light.png" class="img-index" @*style="max-height: 200px; max-width: 200px;"*@ /></a>
    </div>
</div>